{% extends 'base.html' %}

{% block content %}

    <header>
        <h1>Product List</h1>
    </header>
    <main>
        <section style="display: flex; flex-direction: column;" class="product-category">
            <h2>Categories</h2>
                <ul>
                    <li><a href="/">Fashions</a></li>
                    <ul>
                        <li><a href="/">Mens Wear</a></li>
                        <li><a href="/womenswear">Womens</a></li>
                    </ul>
                    <!-- <li><a href="electronic.html">Electronics</a></li>
                    <li><a href="#">Mobiles</a></li>
                    <li><a href="#">Grocery</a></li>
                    <li><a href="#">Furnitures</a></li>
                    <li><a href="#">Kids Zone</a></li> -->
                </ul>
            
        </section>
        <!-- <h2>Products</h2> -->
        <section class="product-list">
            
            <div class="product">
                <img src="https://assets.ajio.com/medias/sys_master/root/20240529/R3Ux/6657680316fd2c6e6a3b0e9d/-473Wx593H-469595798-white-MODEL.jpg" alt="Product 1">
                <h3>LEVIS</h3>
                <p>Men Slim Fit Shirt.</p>
                <p>₹2,165</p>
                <button>Add to Cart</button>
                <button>Buy Now</button>
            </div>
            <div class="product">
                <img src="https://assets.ajio.com/medias/sys_master/root/20240604/dvZz/665ed20e05ac7d77bb9aac03/-473Wx593H-442399663-black-MODEL.jpg" alt="Product 2">
                <h3>LEVIS</h3>
                <p>Men Regular Fit Shirt</p>
                <p>₹1,880</p>
                <button>Add to Cart</button>
                <button>Buy Now</button>
            </div>

            <div class="product">
                <img src="https://assets.ajio.com/medias/sys_master/root/20240531/5Wux/6659e59805ac7d77bb93656a/-473Wx593H-469623239-white-MODEL3.jpg" alt="Product 2">
                <h3>TOMMY HILFIGER</h3>
                <p>Men Embroidered Regular Fit Shirt</p>
                <p>₹5,999</p>
                <button>Add to Cart</button>
                <button>Buy Now</button>
            </div>

            
            <div class="product">
                <img src="https://assets.ajio.com/medias/sys_master/root/20240515/AGt4/6644ca4e16fd2c6e6a094423/-473Wx593H-469587380-blue-MODEL4.jpg" alt="Product 2">
                <h3>TOMMY HILFIGER</h3>
                <p>Cl-W Oxford Circle Print Slim Fit Shirt</p>
                <p>₹3,357</p>
                <button>Add to Cart</button>
                <button>Buy Now</button>
            </div>

            <div class="product">
                <img src="https://assets.ajio.com/medias/sys_master/root/20240531/eOzs/6659eaaa05ac7d77bb937eaf/-473Wx593H-469623220-black-MODEL5.jpg" alt="Product 2">
                <h3>TOMMY HILFIGER</h3>
                <p>Men Striped Regular Fit Shirt</p>
                <p>₹5,999</p>
                <button>Add to Cart</button>
                <button>Buy Now</button>
            </div>

            <div class="product">
                <img src="https://assets.ajio.com/medias/sys_master/root/20230809/104k/64d3ad5deebac147fcb9e818/-473Wx593H-469540822-navy-MODEL.jpg" alt="Product 2">
                <h3>ALLEN SOLLY</h3>
                <p>Printed Slim Fit Shirt with Embroidery</p>
                <p>₹1,127</p>
                <button>Add to Cart</button>
                <button>Buy Now</button>
            </div>
        </section>

        
    </main>
   
    
</body>


{% endblock %}
</html>


