{% extends 'base.html' %}

{% block content %}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">

<!-- Main Contents -->


<div class="container">
    <h1 class="my-4 Orders-head">My Orders</h1>
    <div class="order-card card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://assets.ajio.com/medias/sys_master/root/20240515/AGt4/6644ca4e16fd2c6e6a094423/-473Wx593H-469587380-blue-MODEL4.jpg" alt="Product 1" class="img-fluid orders-img">
                </div>
                <div class="col-md-8">
                    <h5 class="card-title">LEVIS<small> - Men Slim Fit Shirt</small></h5>
                    <p class="card-text"><strong>Quantity:</strong> 1</p>
                    <p class="card-text"><strong>Price:</strong> ₹1000.00</p>
                    <p class="card-text"><strong>Delivery Date:</strong> 2024-06-10</p>
                    <p class="card-text"><strong>Feedback:</strong></p>
                    <textarea class="form-control" rows="2"></textarea>
                    <button type="submit" class="btn btn-primary mt-2">Submit Feedback</button>
                </div>
            </div>
        </div>
    </div>
    <div class="order-card card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://assets.ajio.com/medias/sys_master/root/20240429/My5q/662eaaee05ac7d77bb304449/-473Wx593H-467284525-black-MODEL.jpg" alt="Product 1" class="img-fluid orders-img">
                </div>
                <div class="col-md-8">
                    <h5 class="card-title">BERRYLICIOUS<small> - Embroidered Shirt With Pants</small></h5>
                    <p class="card-text"><strong>Quantity:</strong> 1</p>
                    <p class="card-text"><strong>Price:</strong> ₹1000.00</p>
                    <p class="card-text"><strong>Delivery Date:</strong> 2024-06-10</p>
                    <p class="card-text"><strong>Feedback:</strong></p>
                    <textarea class="form-control" rows="2"></textarea>
                    <button type="submit" class="btn btn-primary mt-2">Submit Feedback</button>
                </div>
            </div>
        </div>
    </div>
    <div class="order-card card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://assets.ajio.com/medias/sys_master/root/20240531/eOzs/6659eaaa05ac7d77bb937eaf/-473Wx593H-469623220-black-MODEL5.jpg" alt="Product 1" class="img-fluid orders-img">
                </div>
                <div class="col-md-8">
                    <h5 class="card-title">LEVIS<small> - Men Top Fit Jeans</small></h5>
                    <p class="card-text"><strong>Quantity:</strong> 1</p>
                    <p class="card-text"><strong>Price:</strong> ₹1000.00</p>
                    <p class="card-text"><strong>Delivery Date:</strong> 2024-06-10</p>
                    <p class="card-text"><strong>Feedback:</strong></p>
                    <textarea class="form-control" rows="2"></textarea>
                    <button type="submit" class="btn btn-primary mt-2">Submit Feedback</button>
                </div>
            </div>
        </div>
    </div>
    <div class="order-card card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://assets.ajio.com/medias/sys_master/root/20240219/ZA6p/65d35bb616fd2c6e6a055e1c/-473Wx593H-467086664-yellow-MODEL.jpg" alt="Product 1" class="img-fluid orders-img">
                </div>
                <div class="col-md-8">
                    <h5 class="card-title">LEVIS<small> - Men Top Fit Jeans</small></h5>
                    <p class="card-text"><strong>Quantity:</strong> 1</p>
                    <p class="card-text"><strong>Price:</strong> ₹1000.00</p>
                    <p class="card-text"><strong>Delivery Date:</strong> 2024-06-10</p>
                    <p class="card-text"><strong>Feedback:</strong></p>
                    <textarea class="form-control" rows="2"></textarea>
                    <button type="submit" class="btn btn-primary mt-2">Submit Feedback</button>
                </div>
            </div>
        </div>
    </div>
    <div class="order-card card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://assets.ajio.com/medias/sys_master/root/20240531/5Wux/6659e59805ac7d77bb93656a/-473Wx593H-469623239-white-MODEL3.jpg" alt="Product 2" class="img-fluid orders-img">
                </div>
                <div class="col-md-8">
                    <h5 class="card-title">LEVIS<small> - Men Shirt Fit Pants</small></h5>
                    <p class="card-text"><strong>Quantity:</strong> 2</p>
                    <p class="card-text"><strong>Price:</strong> ₹1500.00 each</p>
                    <p class="card-text"><strong>Delivery Date:</strong> 2024-06-12</p>
                    <p class="card-text"><strong>Feedback:</strong></p>
                    <textarea class="form-control" rows="2"></textarea>
                    <button type="submit" class="btn btn-primary mt-2">Submit Feedback</button>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}