{% extends 'base.html' %}

{% block content %}

    <header>
        <h1>Women store</h1>
    </header>
    <main>
        <section class="product-category">
            <h2>Categories</h2>
            <ul>
                <li><a href="/">Fashions</a></li>
                <ul>
                    <li><a href="/">Mens Wear</a></li>
                    <li><a href="/womenswear">Womens</a></li>
                </ul>
                <li><a href="electronic.html">Electronics</a></li>
                <li><a href="#">Mobiles</a></li>
                <li><a href="#">Grocery</a></li>
                <li><a href="#">Furnitures</a></li>
                <li><a href="#">Kids Zone</a></li>
            </ul>
        </section>
        <!-- <h2>Products</h2> -->
        <section class="product-list">
            
            <div class="product">
                <img src="https://assets.ajio.com/medias/sys_master/root/20240412/IQIB/6618b70305ac7d77bb04ca5d/-473Wx593H-467246565-black-MODEL.jpg" alt="Product 1">
                <h3>BERRYLICIOUS</h3>
                <p>Women Embroidered Straight Kurta & Pants with Dupatta</p>
                <p>₹1,280</p>
                <button>Add to Cart</button>
                <button>Buy Now</button>
            </div>
            <div class="product">
                <img src="https://assets.ajio.com/medias/sys_master/root/20240429/My5q/662eaaee05ac7d77bb304449/-473Wx593H-467284525-black-MODEL.jpg" alt="Product 2">
                <h3>BERRYLICIOUS</h3>
                <p>Women Embroidered Straight Kurta with Pants & Dupatta</p>
                <p>₹1,575</p>
                <button>Add to Cart</button>
                <button>Buy Now</button>
            </div>

            <div class="product">
                <img src="https://assets.ajio.com/medias/sys_master/root/20230829/1IZb/64ed1effddf779151985b9dd/-473Wx593H-466502339-green-MODEL2.jpg" alt="Product 2">
                <h3>BERRYLICIOUS</h3>
                <p>Embroidered Straight Kurta with Pants & Dupatta</p>
                <p>₹1,733</p>
                <button>Add to Cart</button>
                <button>Buy Now</button>
            </div>

            
            <div class="product">
                <img src="https://assets.ajio.com/medias/sys_master/root/20240202/q66g/65bd184b16fd2c6e6ad4e0ff/-473Wx593H-466961571-maroon-MODEL.jpg" alt="Product 2">
                <h3>BERRYLICIOUS</h3>
                <p>Women Straight Kurta Set & Dupatta with Embroidery</p>
                <p>₹1,896</p>
                <button>Add to Cart</button>
                <button>Buy Now</button>
            </div>

            <div class="product">
                <img src="https://assets.ajio.com/medias/sys_master/root/20240116/z3KQ/65a5afcb8cdf1e0df5b8a3a9/-473Wx593H-466982399-black-MODEL.jpg" alt="Product 2">
                <h3>BERRYLICIOUS</h3>
                <p>Women Embroidered Straight Kurta Set</p>
                <p>₹1,500</p>
                <button>Add to Cart</button>
                <button>Buy Now</button>
            </div>

            <div class="product">
                <img src="https://assets.ajio.com/medias/sys_master/root/20240219/ZA6p/65d35bb616fd2c6e6a055e1c/-473Wx593H-467086664-yellow-MODEL.jpg" alt="Product 2">
                <h3>BERRYLICIOUS</h3>
                <p>Women Embroidered Straight Kurta Set</p>
                <p>₹1,583</p>
                <button>Add to Cart</button>
                <button>Buy Now</button>
            </div>
        </section>

        
    </main>
   
</body>
</html>

{% endblock %}
